# Site settings
title: The Bartenders Fight Club
email: manicdesigner@gmail.com
description: >
  A mixture of odd stories, rants, thoughts, tales, and everything that comes from the spotless mind and revolves around the universe of mania.

baseurl: "/the_hub/" # the subpath of your site, e.g. /blog/
url: https://mikeyhavoc.github.io/the_hub # the base hostname & protocol for your site
git_address: https://github.com/mikeyhavoc/the_hub

git_edit_address: https://github.com/mikeyhavoc/the_hub/gh-pages

# theme options from https://bootswatch.com/
# comment out this to use default Bootstrap
bootwatch: paper

# Build settings
markdown: kramdown
highlighter: rouge
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
timezone: us/Eastern
defaults:
- scope:
    path: _posts
    type: posts
  values:
    layout: post
    sectionid: blog

- scope:
    path: _docs
    type: docs
  values:
    layout: docs
    sectionid: docs
    seo:
      type: "WebPage"

collections:
  docs:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true
